@font-face {
  font-family: jf-reg;
  src: url(..//fonts/JF-Flat-regular.ttf);
}
@font-face {
  font-family: jfflat-light;
  src: url(..//fonts/JF\ Flat\ light.ttf);
}
@font-face {
  font-family: title-font;
  src: url(..//fonts/ge-tv.ttf);
}
@font-face {
  font-family: jf-mid;
  src: url(..//fonts/JF\ Flat\ medium.ttf);
}
@font-face {
  font-family: numfont;
  src: url(..//fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: jfflat;
  src: url(..//fonts/JF-Flat-regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: jf-reg;
  scroll-behavior: smooth;
}

.container {
  width: 75%;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.main-header {
  width: 100%;
  background-color: rgb(89, 198, 188);
}
.main-header .navbar {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .navbar .brand img {
  width: 237px;
  height: 60px;
}
.main-header .navbar .menu {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}
.main-header .navbar .menu li a {
  color: #fff;
  font-size: 18px;
  transition: 0.3s linear;
}
.main-header .navbar .menu li a:hover {
  color: #fff568;
}
.main-header .navbar .menu .active {
  color: #505050;
  background-color: #fff568;
  border: 1px solid #fff568;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  transition: 0.3s linear;
}
.main-header .navbar .menu .active:hover {
  background: transparent;
  color: #fff568;
}

@media (max-width: 767px) {
  .main-header {
    background-color: rgb(89, 198, 188);
  }
  .main-header .navbar {
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-header .navbar .brand {
    width: 100%;
    text-align: center;
  }
  .main-header .navbar .brand img {
    width: 177px;
    height: auto;
  }
  .main-header .navbar .menu {
    gap: 6px;
  }
  .main-header .navbar .menu li a {
    font-size: 8px;
  }
  .main-header .navbar .menu .active {
    padding: 4px;
    font-size: 4px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .main-header {
    background-color: rgb(89, 198, 188);
  }
  .main-header .navbar {
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-header .navbar .brand {
    width: 100%;
    text-align: center;
  }
  .main-header .navbar .brand img {
    width: 237px;
    height: auto;
  }
  .main-header .navbar .menu {
    gap: 16px;
  }
  .main-header .navbar .menu li a {
    font-size: 16px;
  }
  .main-header .navbar .menu .active {
    padding: 8px;
    font-size: 14px;
  }
}
.home-sec {
  height: 715px;
  background-position: center;
  background-size: cover !important;
  padding: 100px 0 0 0;
}
.home-sec .box h1 {
  color: #fff;
  font-family: title-font;
  font-size: 51px;
  margin-bottom: 30px;
}
.home-sec .box p {
  color: #fff;
  width: 600px;
  font-size: 24px;
  margin-bottom: 75px;
}
.home-sec .box a {
  color: #505050;
  background-color: #fff568;
  border: 1px solid #fff568;
  padding: 7px 35px;
  font-weight: bold;
  border-radius: 50px;
  font-size: 24px;
  transition: 0.3s linear;
}
.home-sec .box a:hover {
  background-color: transparent;
  color: #fff568;
}
@media (max-width: 991px) {
  .home-sec .box {
    padding: 0 15px;
  }
  .home-sec .box h1 {
    font-size: 31px;
  }
  .home-sec .box p {
    width: 100%;
    font-size: 18px;
  }
  .home-sec .box a {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .home-sec {
    background-position: top top;
  }
}
.serv-sec {
  padding: 85px 0;
}
.serv-sec .row {
  display: flex;
  flex: 1;
}
.serv-sec .row .col {
  padding: 50px 35px 40px 25px;
  transition: 0.3s linear;
}
.serv-sec .row .col img {
  width: 66px;
  height: 68px;
  margin-bottom: 30px;
}
.serv-sec .row .col .content h3 {
  font-weight: normal;
  color: #fff;
  font-size: 26px;
  margin-bottom: 20px;
}
.serv-sec .row .col .content p {
  color: #fff;
  font-size: 19px;
}
.serv-sec .row .col:hover {
  transform: scale(1.01) translateY(-3px);
}
.serv-sec .row .col1 {
  background-color: #2d98a2;
}
.serv-sec .row .col2 {
  background-color: #4fc5ba;
}
.serv-sec .row .col3 {
  background-color: #eb774c;
}
.serv-sec .row .col4 {
  background-color: #edbf47;
}

@media (max-width: 991px) {
  .serv-sec .row {
    display: flex;
    flex: auto;
    flex-direction: column;
  }
  .serv-sec .row .col {
    padding: 30px 50px 25px 30px;
    width: 100%;
  }
  .serv-sec .row .col img {
    margin-bottom: 25px;
  }
  .serv-sec .row .col .content h3 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .serv-sec .row .col .content p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.last-news {
  padding: 50px 0;
  background-color: #fafafa;
}
.last-news .title h3 {
  color: #505050;
  font-size: 24px;
  font-family: jf-mid;
  font-weight: normal;
}
.last-news .title h5 {
  font-weight: normal;
  color: rgb(89, 198, 188);
  font-size: 14px;
  font-family: jf-mid;
}
.last-news .row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex: 1;
}
.last-news .row .col {
  position: relative;
  transition: 0.3s linear;
  box-shadow: 0px 0px 10px 5px #ddd;
  overflow: hidden;
}
.last-news .row .col img {
  width: 100%;
  height: 222px;
  transition: 0.3s linear;
}
.last-news .row .col .news {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #505050;
  background-color: rgba(255, 245, 104, 0.7);
  padding: 1px 15px;
  font-size: 18px;
  border-radius: 5px;
}
.last-news .row .col .content {
  padding: 25px;
  background-color: #fff;
}
.last-news .row .col .content .date {
  margin-bottom: 15px;
}
.last-news .row .col .content .date i {
  font-size: 20px;
  color: rgb(89, 198, 188);
  margin-left: 5px;
}
.last-news .row .col .content .date span {
  color: #505050;
}
.last-news .row .col .content h2 {
  color: #505050;
  font-family: jf-mid;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 20px;
}
.last-news .row .col .content p {
  color: #505050;
  margin-bottom: 15px;
}
.last-news .row .col .content a {
  color: #505050;
  background-color: #fff568;
  border: 1px solid #fff568;
  padding: 5px 40px;
  border-radius: 50px;
  font-weight: bold;
  transition: 0.3s linear;
}
.last-news .row .col .content a:hover {
  background-color: transparent;
  color: rgb(89, 198, 188);
  border: 1px solid rgb(89, 198, 188);
}
.last-news .row .col:hover {
  transform: translateY(-6px);
}
.last-news .row .col:hover img {
  transform: scale(1.015);
}

@media (max-width: 991px) {
  .last-news .row {
    display: flex;
    flex-direction: column;
    flex: auto;
  }
  .last-news .row .col {
    width: 100%;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .last-news .row {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    gap: 25px;
  }
  .last-news .row .col {
    width: 47%;
  }
  .last-news .row .col1 {
    width: 100%;
  }
  .last-news .row .col1 img {
    width: 100%;
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
}
.goals {
  background-image: url(..//images/goals-bg.png);
  background-repeat: no-repeat;
  background-size: cover !important;
}
.goals .overlay {
  color: rgb(89, 198, 188);
  background-color: rgba(89, 198, 188, 0.8);
  padding: 30px 0;
}
.goals .overlay .title {
  padding: 35px 0 0 0;
}
.goals .overlay .title h3 {
  color: #fff;
  font-size: 24px;
}
.goals .overlay .title h5 {
  color: #fff;
  font-size: 14px;
}
.goals .overlay .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.goals .overlay .row .col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.goals .overlay .row .col img {
  margin-left: 5px;
  width: 81px;
}
@media (max-width: 991px) {
  .goals .overlay .row .col img {
    width: 45px;
    height: 45px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.goals .overlay .row .col .content span {
  font-size: 50px;
  color: #fff;
  font-family: numfont;
}
.goals .overlay .row .col .content p {
  color: #505050;
  font-size: 22px;
  font-family: jfflat;
}
@media (max-width: 991px) {
  .goals .overlay .row .col .content span {
    font-size: 36px;
  }
  .goals .overlay .row .col .content p {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .goals .overlay {
    padding: 30px 0;
  }
  .goals .row {
    flex-direction: column;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .goals .overlay {
    padding: 30px 0;
  }
  .goals .overlay .row {
    flex-wrap: wrap;
  }
  .goals .overlay .row .col {
    width: 45%;
  }
  .goals .overlay .row .col img {
    width: 50px;
  }
}
.parent-says {
  padding: 50px 0;
}
.parent-says .box .title h3 {
  font-size: 24px;
  color: #505050;
  font-family: jfflat;
}
.parent-says .box .title h5 {
  color: rgb(89, 198, 188);
  font-size: 12px;
  font-family: jfflat;
}
.parent-says .box .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.parent-says .box .row .col {
  width: 47%;
  display: flex;
  gap: 25px;
  position: relative;
  justify-content: space-between;
}
.parent-says .box .row .col img {
  width: 72px;
  height: 72px;
  -o-object-fit: cover;
     object-fit: cover;
}
.parent-says .box .row .col .content {
  border-radius: 12px;
  padding: 10px 15px;
  position: relative;
  background-color: #f9f9f9;
}
.parent-says .box .row .col .content h3 {
  font-weight: normal;
  font-family: jf-reg;
  margin-bottom: 12px;
  color: #3e3e3e;
}
.parent-says .box .row .col .content p {
  margin-bottom: 12px;
  font-size: 14px;
  color: #505050;
}
.parent-says .box .row .col .content ul {
  margin-bottom: 12px;
  display: flex;
  gap: 20px;
}
.parent-says .box .row .col .content ul li i {
  font-size: 18px;
  margin-left: 5px;
  color: rgb(89, 198, 188);
}
.parent-says .box .row .col .content ul li span {
  font-size: 12px;
}
.parent-says .box .row .col .content ul::before {
  content: "";
  position: absolute;
  border-color: transparent transparent transparent #f9f9f9;
  border-width: 15px;
  border-style: solid;
  right: -35px;
  top: 20%;
  transform: translate(-20%, 0);
}

@media (max-width: 991px) {
  .parent-says .box .row {
    flex-direction: column;
  }
  .parent-says .box .row .col {
    width: 100%;
  }
  .parent-says .box .row .col .content {
    padding: 7px;
  }
  .parent-says .box .row .col .content h3 {
    font-size: 15px;
    margin-bottom: 8px;
  }
  .parent-says .box .row .col .content p {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .parent-says .box .row .col .content ul {
    margin-bottom: 8px;
    gap: 10px;
  }
  .parent-says .box .row .col .content ul li i {
    font-size: 10px;
  }
  .parent-says .box .row .col .content ul li span {
    font-size: 8px;
  }
}
.details {
  padding: 100px 0;
  background-color: #f9f9f9;
}
.details .box {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.details .box .row1 {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  height: 334px;
}
.details .box .row1 .col-a {
  height: 100%;
  border-radius: 10px;
  flex: 2;
}
.details .box .row1 .col-a img {
  -o-object-fit: cover;
     object-fit: cover;
}
.details .box .row2 {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  height: 334px;
}
.details .box .row2 .col {
  height: 100%;
  border-radius: 10px;
}
.details .box .row2 .col-b {
  padding: 15px;
  flex: 1;
  background-color: #fff;
}
.details .box .row2 .col-b h3 {
  font-size: 21px;
  color: #505050;
  font-family: jfflat;
}
.details .box .row2 .col-b p {
  font-size: 14px;
}
.details .box .row2 .col-b h3 {
  text-align: center;
  margin-bottom: 25px;
  font-family: jfflat;
}
.details .box .row2 .col-b p {
  margin-bottom: 25px;
}
.details .box .row2 .col-b ul {
  display: flex;
  flex-direction: column;
}
.details .box .row2 .col-b ul li {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.details .box .row2 .col-b ul li i {
  color: #59c6bc;
  font-size: 18px;
}
.details .box .row2 .col-b ul li .light {
  font-family: jfflat-light;
  color: #222;
}
.details .box .row2 .col-b .day-time {
  text-align: center;
}
.details .box .row2 .col-b .day-time .day {
  padding: 6px;
  background-color: #fff568;
  border-radius: 6px;
  width: 120px;
  margin: 0 auto;
  color: #505050;
}
.details .box .row2 .col-b .day-time .time {
  color: #505050;
}

@media (max-width: 767px) {
  .details .box {
    flex-direction: column;
  }
  .details .box .row1 {
    height: auto;
  }
  .details .box .row1 .col-a img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .details .box .row2 {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .details .box .row2 .col-b {
    padding: 10px;
    width: 100%;
  }
}
@media (min-width: 767px) and (max-width: 1199px) {
  .details .box {
    border: 1px solid #0f0;
    flex-direction: column;
  }
  .details .box .row1 {
    height: auto;
  }
  .details .box .row1 .col-a img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .details .box .row2 {
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .details .box .row2 .col-b {
    width: 100%;
    height: 334px;
  }
}
.send-msg {
  background-size: cover !important;
}
.send-msg .overlay {
  height: 360px;
  width: 100%;
  background-color: rgba(145, 145, 145, 0.5);
  position: relative;
}
.send-msg .overlay .form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #68bfb7;
  width: 400px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send-msg .overlay .form input {
  width: 300px;
  height: 40px;
  text-indent: 10px;
  border-radius: 6px;
  outline: 0;
  border: 0;
}
.send-msg .overlay .form button {
  background-color: #505050;
  color: #fff;
  height: 40px;
  border: none;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 6px;
}
.send-msg .overlay .form::before {
  content: "";
  border-color: #68bfb7 transparent transparent transparent;
  border-width: 20px 15px;
  border-style: solid;
  position: absolute;
  bottom: -35px;
  left: 50%;
}

@media (max-width: 767px) {
  .send-msg {
    background-position: top;
  }
  .send-msg .box .form {
    width: 90%;
  }
}
::-moz-placeholder {
  color: #505050;
}
:-ms-input-placeholder {
  color: #505050;
}
::placeholder {
  color: #505050;
}

.footer {
  padding: 60px 0;
}
.footer .box {
  text-align: center;
}
.footer .box h1 {
  margin-bottom: 20px;
  font-family: title-font;
  font-weight: normal;
  color: #656565;
  font-size: 41px;
}
.footer .box p {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  font-family: jfflat;
}
.footer .box ul li {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
.footer .box ul li a {
  transition: 0.3s linear;
  width: 35px;
  line-height: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #505050;
  background-color: #f9f9f9;
}
.footer .box ul li a i {
  font-size: 13px;
  color: #606060;
}
.footer .box ul li .i1:hover {
  border: 1px solid rgb(24, 119, 242);
  box-shadow: 0 0 5px 2px rgb(24, 119, 242);
}
.footer .box ul li .i1:hover i {
  color: rgb(24, 119, 242);
}
.footer .box ul li .i2:hover {
  border: 1px solid rgb(29, 161, 242);
  box-shadow: 0 0 5px 2px rgb(29, 161, 242);
}
.footer .box ul li .i2:hover i {
  color: rgb(29, 161, 242);
}
.footer .box ul li .i3:hover {
  border: 1px solid rgb(195, 42, 163);
  box-shadow: 0 0 5px 2px rgb(195, 42, 163);
}
.footer .box ul li .i3:hover i {
  color: rgb(195, 42, 163);
}
.footer .box ul li .i4:hover {
  border: 1px solid rgb(219, 68, 55);
  box-shadow: 0 0 5px 2px rgb(219, 68, 55);
}
.footer .box ul li .i4:hover i {
  color: rgb(219, 68, 55);
}

@media (max-width: 767px) {
  .footer .box h1 {
    font-size: 31px;
  }
  .footer .box p {
    font-size: 12px;
  }
}/*# sourceMappingURL=style1.css.map */